body{
    background-color: #1f1f1f;
    color: rgb(209, 206, 206);
}

h2{
    color: rgb(123, 180, 207);
    text-align: center;
}

p{
    color: rgb(129, 216, 194);
}

table,th,td{
    border: 2px double rgb(114, 190, 235);
    border-collapse:separate; /*Separates or collapses table border*/
    border-radius: 30px;   /*makes the table weirdly rounded*/
    padding: 20px;
    border-spacing: 10px;  /*spacing between cells*/
    text-align: center;
}

th{
    
    background-color: #2b2a2a;
}

td{
    background-color: #4e4e4e;
}